.container {
    margin-top: 40px;
}
.items-span,#value-span {
    float: right;
    margin: 2px;
}
.form-group {
    margin-top: 25px;
}
.table-div {
    margin-top: 55px;
}
.form-div, .table-div {
    display: inline;
}
