<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./content/category.css"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./scripts/index.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Product Store</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse1">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">About</a>
                <a href="#" class="nav-item nav-link">Products</a>
            </div>
            <form class="form-inline ml-auto">
                <input type="text" class="form-control mr-sm-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-light">Search</button>
            </form>
        </div>
    </nav>
    <div class="container col-sm-11">
        <div class="row">
            <div class="col-sm-4">
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Title</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title for your product">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Category</label>
                      <select id="category-select" class="form-control" id="exampleFormControlSelect1">
                        <option selected>-- select a category --</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect2">Units in Stock</label>
                      <span class="items-span">Item(s)</span>&nbsp;<span id="value-span"></span>
                      <input type="range" id="units-range" class="form-control col-sm-12" min="1" max="250"/>
                    </div>
                      <div class="form-group">
                        <label>Price per Unit</label>
                        <input type="number" class="form-control col-sm-3" min="0.00" max="10000.00" step="0.01" />
                      </div>
                      <div class="form-group">
                        <label>Discount</label>
                        <input type="number" class="form-control col-sm-3" min="0.00" max="10000.00" step="0.01" />
                      </div>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>